.footer {
    margin-top: 40px;
    /* height: auto; */
    /* width: 100%; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.footer-heading {
    font-size: 25px;
    font-family: 'Corinthia', cursive;
}

.social-icons {
    margin-top: -15px;
}

.social-icons a i {
    width: 5px;
    color: black;
}